<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20647650277-3qg21vv4d1704eljep8b9d5u8nisa9j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20647650277-3qg21vv4d1704eljep8b9d5u8nisa9j3</string>
	<key>API_KEY</key>
	<string>AIzaSyDiZK2p_DrG2PE326XjDr5bngVUlSiQzlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>20647650277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ahmed-Mahmoud.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-alfa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-alfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20647650277:ios:28d14463eb266719</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-alfa.firebaseio.com</string>
</dict>
</plist>